<h1>Sign up</h1>

<a href="account" class="link">Login instead</a>
<div class="form-details">
  <!-- Nom d'utilisateur -->
  <div class="form-group">
    <label for="lastName">Last name</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      placeholder="Enter your last name"
      [(ngModel)]="user.lastName"
      required
      (ngModelChange)="clearError('lastName')"
    />
    <div *ngIf="errors['lastName']" class="error-message">{{ errors['lastName'] }}</div>
  </div>

  <!-- Prénom -->
  <div class="form-group">
    <label for="firstName">First name</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      placeholder="Enter your first name"
      [(ngModel)]="user.firstName"
      required
      (ngModelChange)="clearError('firstName')"
    />
    <div *ngIf="errors['firstName']" class="error-message">{{ errors['firstName'] }}</div>
  </div>

  <!-- Adresse e-mail -->
  <div class="form-group">
    <label for="email">Email address</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email address"
      [(ngModel)]="user.email"
      required
      (ngModelChange)="clearError('email')"
    />
    <div *ngIf="errors['email']" class="error-message">{{ errors['email'] }}</div>
  </div>

  <!-- Date de naissance -->
  <div class="form-group">
    <label for="dob">Birthdate</label>
    <input
      type="date"
      id="dob"
      name="dob"
      [(ngModel)]="user.dob"
      required
      (ngModelChange)="clearError('dob')"
    />
    <div *ngIf="errors['dob']" class="error-message">{{ errors['dob'] }}</div>
  </div>

  <!-- Mot de passe -->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter your password"
      [(ngModel)]="user.password"
      required
      (ngModelChange)="clearError('password')"
    />
    <div *ngIf="errors['password']" class="error-message">{{ errors['password'] }}</div>
  </div>

  <!-- Confirmer le mot de passe -->
  <div class="form-group">
    <label for="confirmPassword">Confirm your password</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm your password"
      [(ngModel)]="user.confirmPassword"
      required
      (ngModelChange)="clearError('confirmPassword')"
    />
    <div *ngIf="errors['confirmPassword']" class="error-message">{{ errors['confirmPassword'] }}</div>
  </div>

  <!-- Newsletter -->
  <div class="form-group newsletter-group">
    <label for="newsletter">I want to receive newsletter</label>
    <input
      type="checkbox"
      id="newsletter"
      name="newsletter"
      [(ngModel)]="user.newsletter"
    />
    <div *ngIf="errors['newsletter']" class="error-message">{{ errors['newsletter'] }}</div>
  </div>

  <!-- Bouton d'inscription -->
  <button (click)="onSubmit()" class="submit-btn">Submit</button>
</div>
