/* Enlève la marge par défaut et applique box-sizing global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Choix de police générique */
  line-height: 1.5; /* Améliore la lisibilité */
  padding: 0;
  background-color: #f4f4f4;
}

:host {
  height: 100%;
  width: 90%; /* Réduit la largeur à 90% de l'écran */
  max-width: 600px; /* Limite la largeur à 600px */
  padding: 0;
  background-color: #e6e6e6;
  margin: 0 auto; /* Centrage du card */
  overflow: scroll;

  display: block
}

h1 {
  text-align: center;
  font-size: 2.5em; /* Taille de la police flexible en fonction de l'écran */
  font-weight: bolder;
  margin-bottom: 20px;
}

.payment-method {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-method h2 {
  font-size: 4vw; /* Taille de la police relative */
  margin-bottom: 1%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: calc(100% - 20px);
  margin-bottom: 30px; /* Espace entre les champs */
  padding: 10px 10px;
}

.form-group label {
  font-size: 4vw; /* Taille de la police relative */
  font-weight: bold;
  display: block;
  margin-bottom: 2%;
}

.form-group input {
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: #007BFF;
}

.submit-btn {
  margin: 0 auto;
  padding: 10px 0;
  width: 70%;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
}


.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn:active {
  background-color: #003f7f;
}

/* Media query pour les écrans larges (tablettes et ordinateurs) */
@media (min-width: 768px) {
  .product-name {
    font-size: 3rem; /* Taille fixe pour écrans plus larges */
  }

  .payment-method h2 {
    font-size: 2rem;
  }

  .masterCardVisa {
    width: 15%; /* Réduit la taille de l'image pour les grands écrans */
  }

  .form-group label {
    font-size: 1.2rem; /* Utilise rem pour un meilleur contrôle de la taille des polices */
  }

  .form-group input {
    font-size: 1.2rem;
    padding: 10px;
  }

  .submit-btn {
    font-size: 1.5rem;
    padding: 15px;
  }
}

/* Media query pour les écrans très larges (grands écrans d'ordinateur) */
@media (min-width: 1200px) {

  :host {
    max-width: 100%;
  }

  h1 {
    font-size: 4em;
  }

  .form {
    margin: auto;
    max-width: 500px;
  }

  .product-name {
    font-size: 2.5rem; /* Taille de texte plus grande pour les grands écrans */
  }

  .payment-method h2 {
    font-size: 1.5rem;
  }

  .form-group label {
    font-size: 1.1rem;
  }

  .form-group input {
    font-size: 1.1rem;
  }

  .submit-btn {
    font-size: 1.2rem;
    max-width: 200px;
  }
}

/* Style pour les messages d'erreur */
.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

.link {
  display: block;
  margin: 5px auto;
  text-align: center;
  text-underline-style: none;
}
