<div class="product-card">
  <!-- Titre principal -->
  <div class="product-header">
    <h1 class="product-name">Connexion</h1>
  </div>
  <br/><br/><br/>

  <div class="payment-details">
    <div class="form-group">
      <label for="email">Email lié au compte</label>
      <input type="email" id="email" name="email" placeholder="exemple@domaine.com" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
    </div>


    <div class="form-group">
      <label for="cardholder-name">Mot de passe</label>
      <input type="text" id="cardholder-name" name="cardholder-name" placeholder="Nom complet" required>
    </div>

    <div class="submit-btn">
      <input type="button" value="Se connecter">
    </div>

</div>
