<div class ="header">
  <div class="button-container">
      <button class="image-burger" style="background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/menu_burger.png');"></button>
      <img src="https://ecom-images-storage.s3.eu-north-1.amazonaws.com/warhammer.png" class="image-warHammer">
      <button class="image-cart" style="background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/panier.png');"></button>
      <button class="image-compte" style="background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/compte.png');"></button>
  </div>

  <div class="search-bar-container">
      <div class="search-icon"></div> <!-- Icône de loupe -->
      <input type="text" class="search-input" placeholder="Rechercher...">
      <button class="search-button"></button> <!-- Bouton "Go" avec image -->
  </div>
</div>

