<div class ="header">
    <div class="button-container">
        <button class="image-burger" style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');"></button>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="image-warHammer">
        <button class="image-cart" style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');"></button>
        <button class="image-compte" style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');"></button>
    </div>

    <div class="search-bar-container">
        <div class="search-icon"></div> <!-- Icône de loupe -->
        <input type="text" class="search-input" placeholder="Rechercher...">
        <button class="search-button"></button> <!-- Bouton "Go" avec image -->
    </div>
</div>



 