<div class="product-card">
    <div class="image-container">
      <img class = "productImage" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      @if(article.stock == 0){
        <div class="out-of-stock">Stock: {{ article.stock }}</div>
      }
      @else {
        <div class="on-stock"> Stock: {{ article.stock }}</div>
      }
    </div>
  
    <div class = "test">
      <b><p class="product-name">{{ article.name }}</p></b>
    </div>
  
    <div class="price-image-container">
      <span class="product-price">{{ article.price}} €</span>
      <button class="cart-button" onClick="Click()"></button>
    </div>
  </div>
  
  