<div>
  <h2 id="page-heading" data-cy="CommandLineHeading">
    <span jhiTranslate="ecomApp.commandLine.home.title">Command Lines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ecomApp.commandLine.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-command-line"
        [routerLink]="['/command-line/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecomApp.commandLine.home.createLabel">Create a new Command Line</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (commandLines?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ecomApp.commandLine.home.notFound">No Command Lines found</span>
    </div>
  }

  @if (commandLines && commandLines.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quanity">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.commandLine.quanity">Quanity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="product.id">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.commandLine.product">Product</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cart.id">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.commandLine.cart">Cart</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (commandLine of commandLines; track trackId(commandLine)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/command-line', commandLine.id, 'view']">{{ commandLine.id }}</a>
              </td>
              <td>{{ commandLine.quanity }}</td>
              <td>
                @if (commandLine.product) {
                  <div>
                    <a [routerLink]="['/product', commandLine.product.id, 'view']">{{ commandLine.product.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (commandLine.cart) {
                  <div>
                    <a [routerLink]="['/cart', commandLine.cart.id, 'view']">{{ commandLine.cart.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/command-line', commandLine.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/command-line', commandLine.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(commandLine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
