<div class="item-cart" *ngIf="commandLine != undefined; else other_content">
    <div class="left-block">
        <img src={{commandLine.product.mainImage.url}}/>
        <div class="name">{{commandLine.product.name}}</div>
    </div>
    <div class="right-block">
        <div class="amount">Quantity: {{commandLine.quantity}}</div>
        <div class="price">Price: {{commandLine.product.price | number: "1.2-2"}}€</div>
    </div>
</div>
<ng-template #other_content>other content here...</ng-template>
