:host {
  display: block;
  border: 2px solid lightgray;

  background-color: white;
}

.item-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1%;
  border-radius: 8px;
}

.product-img {
  margin: 0 auto;
  max-width: 90%;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.name {
  margin: 0 0 10px;
  font-weight: bolder;
  text-align: center;
  flex: 1;
}

.quantity-value {
  min-width: 3em;
  max-width: 3em;
}

.price {
  margin-left: 10px;
}

.head-cart-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}



.delete-button {
  width: 4vw;
  height: 4vw;
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/croix.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {

  .name {
    font-size: 1.5em;
  }

}
