/* Styles from small smartphones */

:host {
  display: block;
  border: 2px solid lightgray;

  background-color: white;
}

.item-cart {
  --delete-btn-size: 25px;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 1%;
  border-radius: 8px;
  position: relative;
}

.product-img {
  margin: 0 auto;
  max-width: 90%;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.name {
  margin: calc(var(--delete-btn-size) + 5px) 5px 10px;
  font-weight: bolder;
  text-align: center;
  font-size: 1.2em;
  flex: 1;
}

.quantity-value {
  min-width: 3em;
  max-width: 3em;
}

.price {
  margin-left: 10px;
}

.head-cart-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.delete-button {
  width: var(--delete-btn-size);
  height: var(--delete-btn-size);
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/croix.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  position: absolute;
  top: 5px;
  right: 5px;
}

/* Styles updates for tablets and larges screens */

@media only screen and (min-width: 768px) {

  .name {
    font-size: 1.5em;
  }

}

/* Styles for desktops and larger devices */

@media only screen and (min-width: 1024px) {

  .name {
    font-size: 1.5em;
  }

}
