<div class="item-cart" *ngIf="commandLine != undefined; else other_content">
    <div class="left-block">
        <img src={{commandLine.product.catalogueImg.url}}/>
        
    </div>
    <div class="right-block">
        <div class="name">{{commandLine.product.name}}</div>
        <div class="values">
            <div class="amount">
                <div class="quantity-name">
                    Qty:
                </div>
                <input class="quantity-value" #quantity type="number" value="{{commandLine.quantity}}" [min] = "1" [step]="1" (input)="changeAmount(quantity.value)" required>      
            </div>
            <div class="price">
                {{sumProduct()| number: "1.2-2"}}€
            </div>
        </div>
    </div>
    
    
</div>
<ng-template #other_content>other content here...</ng-template>


