<div class="item-cart" *ngIf="commandLine != undefined; else other_content">
    <div class="right-block">
        <img src={{commandLine.product.images[0].url}}/>
        <div class="name">{{commandLine.product.name}}</div>
    </div>
    <div class="left-block">
        <input class="amount" type="number" value={{commandLine.quantity}} maxlength="3" [min]="0" [step]="1"/>
        <div>{{commandLine.product.price | number: "1.2-2"}}€</div>
    </div>
    
    
    
</div>
<ng-template #other_content>other content here...</ng-template>
