/* Styles from small smartphones */

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.arrow {
  background-color: transparent;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0 10px;
  max-width: 20vw;
}

.arrow > img {
  aspect-ratio: 1 / 1;
  width: 75%;
}

.faction {
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faction-choice {
  display: flex;
  justify-content: center;
}

.faction-img {
  aspect-ratio: 3 / 4;
  max-width: 60vw;
}

.faction-name {
  margin: 10px 0 0;
  text-align: center;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-img {
  aspect-ratio: 1 / 1;
  max-width: 60px;
}

.group-name {
  margin: 2px 0 0;

  font-size: 0.8em;
  text-align: center;
}

.selected {
  position: relative;
}

.selected::before {
  content: '';
  height: 2.5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #D0A933;
  text-decoration: underline yellow;
}

/* Styles updates for tablets and larges screens */

@media only screen and (min-width: 768px) {

  .faction-img {
    max-width: 50vw;
  }

  .faction-name {
    font-size: 1.75em;
  }

  .groups {
    margin: 0 auto;
    width: 70%;
  }

}

/* Styles for desktops and larger devices */

@media only screen and (min-width: 1024px) {

  .faction-img {
    max-width: 19vw;
  }

  .faction-name {
    font-size: 1.75em;
  }

  .groups {
    margin: 0 auto;
    width: 50%;
  }

}
