<h1 class="cart-title">Cart content</h1>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="head">
  <div class="head-left-button">
    <button (click)="pay()">Pay</button>
    <button (click)="this.cartService.clearCart()">Clear Cart</button>
  </div>
  <p class="cart-total-price">
    Total to pay: {{ this.cartService.getSum() | number: "1.2-2" }}€
  </p>
</div>
<div class="items">
  <cart-item *ngFor="let cartItem of cart; let i = index" [commandLine]="cartItem" [index]="i"
             [amount]="cartItem.quantity"></cart-item>
</div>
