.cart-content {
  text-align: center;
}

.head {
  display: flex;
  justify-content: space-between; /* Center horizontally */

}




.items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

  background-color: white;
  border: 2px solid black;

  padding: 20px;
  margin: 0 auto;
  min-height: 45vh;
  max-width: 80%;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

items > * {
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .head-left-button {
    margin-left: 10%;
    height: 20vw;
    width: 200px;
  }
  
  .items > * {
    max-width: 30%;
  }

  .head-left-button > * {
    background-color: goldenrod;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 3px;
  }

  .head-right-price {
    margin-right: 10%;
    height: 20%;
    width: auto;
    font-size: 4vh;
  }

}

@media only screen and (max-width: 600px) {
  .head-left-button {
    margin-left: 10%;
    height: 10vw;
    width: 30vw;
    margin-bottom: 4%;
  }
  

  .head-left-button > * {
    background-color: goldenrod;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 3px;
  }

  .head-right-price {
    margin-right: 10%;
    height: 20%;
    width: auto;
    font-size: 5vw;
  }
}
