/* Styles from small smartphones */

:host {
  background-color: white;
  border: 2px solid black;

  width: 100%;
}

.product-card {
  --card-padding: 10px;
  --type-icon-size: 40px;

  display: flex;
  flex-direction: column;

  padding: var(--card-padding);
  position: relative;
  height: calc(100% - var(--card-padding) * 2);
  width: calc(100% - var(--card-padding) * 2);
}


.product-name {
  margin: 10px 0;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.product-price {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
}

/* Bouton invisible pour l'image de panier */
.cart-button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/panier_plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.price-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  margin-top: auto;
  max-width: 100%;
}

.stock {
  --stock-width: 50%;

  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 7 / 2;
  width: calc(var(--stock-width) - 10px);
  border-top: none; /* Enlève la bordure du haut */
  border-left: none; /* Enlève la bordure de gauche */
  border-right: 2px solid #375337; /* Garde la bordure de droite */
  border-bottom: 2px solid #375337;
  color: #000000;
  margin: 0;
  padding: 5px;
  font-size: 0.8em; /* Taille de texte fixe, ajustez selon votre besoin */
  font-weight: bolder;
  white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
  overflow: hidden; /* Coupe le texte qui dépasse */
  text-align: left;

  display: flex;
  justify-content: start;
  align-items: center;
}

.on-stock {
  background-color: #cdfaae; /* Vert pour "en stock" */
}

/* Classe appliquée lorsque le stock est à 0 */
.out-of-stock {
  background-color: #f36666;
  color: #fff;
  font-weight: bolder;
}

.toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.toast {
  color: #fff; /* Couleur du texte */
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  background-color: aqua;
  border: 2px solid #000000;

  opacity: 0;
  transform: translateY(10px);
  animation: fadeInOut 3s forwards;
}


.toast {
  color: #000000; /* Couleur du texte */
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  background-color: rgb(250, 255, 178);
  border: 2px solid #000000;

  /* Rectangle blanc autour du texte */
  border: 2px solid #fff;
}

.product-img {
  margin-top: calc(var(--type-icon-size) - var(--card-padding));
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.product-type {
  position: absolute;
  top: 5px;
  right: 5px;

  max-height: var(--type-icon-size);
  max-width: var(--type-icon-size);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* Styles updates for tablets and larges screens */

@media only screen and (min-width: 768px) {

  .product-card {
    --type-icon-size: 65px;
  }

  .cart-button {
    height: 45px;
    width: 45px;
  }

  .stock {
    --stock-width: 45%;
    font-size: 1em;
  }

  .product-price {
    font-size: 1.2em;
  }

  .product-name {
    font-size: 1.1em;
  }
}

/* Styles for desktops and larger devices */

@media only screen and (min-width: 1024px) {

  .product-card {
    --type-icon-size: 75px;
  }

  .cart-button {
    height: 60px;
    width: 60px;
  }

  .stock {
    --stock-width: 40%;
    font-size: 1.5em;
  }

  .product-price {
    font-size: 1.45em;
  }

  .product-name {
    font-size: 1.45em;
  }
}
