<div class="product-card" (click)="detailedProduct(article.id)">
  <img class="product-img" src='{{article.catalogueImg.url}}' alt="Photo of a Shiba Inu">
  @if (article.stock == 0) {
    <p class="out-of-stock stock">Out of stock</p>
  } @else {
    <p class="on-stock stock">Stock: {{ article.stock }}</p>
  }
  <img [src]='this.productTypeUrl' alt="" class="product-type">

  <p class="product-name">{{ article.name }}</p>

  <div class="price-image-container">
    <span class="product-price"> {{ article.unitPrice | number: "1.2-2"}}€</span>
    <button class="cart-button" (click)="addCart(article.id, article.name); $event.stopPropagation();"></button>
  </div>
</div>
<div id="toast-container" class="toast-container">
  <div class="toast" *ngFor="let toast of toasts">
    {{ toast }}
  </div>
</div>

