:host {
  background-color: white;
  border: 2px solid black;

  position: relative;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}


.product-name {
  margin: 10px 0;
  text-align: center;
  font-size: 1.4rem; /* Taille fixe en pixels */
  font-weight: bold;
}

.product-price {
  margin: 0;
  font-size: 1.3rem; /* Taille fixe en pixels */
  font-weight: bold;
  color: #000;
}

/* Bouton invisible pour l'image de panier */
.cart-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/panier_plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.image-container {
  padding: 1%;
  padding-top: 5%;
  margin-bottom: -10px;
}

.image-container img {
  width: 100%;
  height: auto;
}


.price-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  margin-top: auto;
  max-width: 100%;
}

.stock {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 7 / 2;
  width: 40%;
  border-top: none; /* Enlève la bordure du haut */
  border-left: none; /* Enlève la bordure de gauche */
  border-right: 1px solid #375337; /* Garde la bordure de droite */
  border-bottom: 1px solid #375337;
  color: #000000;
  margin: 0;
  padding: 5px;
  font-size: 1.1rem; /* Taille de texte fixe, ajustez selon votre besoin */
  white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
  overflow: hidden; /* Coupe le texte qui dépasse */
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.on-stock {
  background-color: #cdfaae; /* Vert pour "en stock" */
}

/* Classe appliquée lorsque le stock est à 0 */
.out-of-stock {
  background-color: #f36666;
  color: #fff;
  font-weight: bolder;
}


.toast-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.toast {
  color: #fff; /* Couleur du texte */
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  background-color: aqua;
  border: 2px solid #000000;

  opacity: 0;
  transform: translateY(10px);
  animation: fadeInOut 3s forwards;
}

  
  .toast {
    color: #000000; /* Couleur du texte */
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    background-color: rgb(250, 255, 178);
    border: 2px solid #000000;

  /* Rectangle blanc autour du texte */
  border: 2px solid #fff;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@media only screen and (min-width: 800px) {
  .cart-button {
    height: 60px;
    width: 60px;
  }

  .stock {
    max-width: 200px;
  }

  .on-stock {
    font-size: 1.5rem;
  }

  .out-of-stock {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 1.75rem;
  }

  .product-name {
    font-size: 1.7rem;
  }
}
