html, body {
  height: 100%;  /* Assurez-vous que le body prend toute la hauteur de la fenêtre */
  margin: 0;  /* Éviter les marges par défaut */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;  /* Permet au contenu de prendre toute la place restante */
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  bottom: 0px;
}
