:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 10px grey;
  border-radius: 10px;
  box-shadow: 0 0 0 3px black;
  overflow-y: auto;
}


.image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* Full viewport height to center in the middle */
  margin-bottom: 1vh;
}

.image-container img {
  /* Scale the image if it's too large */
  height: auto; /* Maintain aspect ratio */
  width: 50%;
  margin-right: 10px; /* Espace entre les images */
  border-radius: 8px;
}

.image-container .main-image {
  height: auto; /* Maintain aspect ratio */
  width: 85%;
  border-radius: 8px;
}

.description-container {
  margin: 0 auto;
  width: 85%;
  text-align: justify;
}

.row-container {
  display: flex;
  justify-content: center; /* Adjust alignment */
  align-items: center; /* Center vertically if elements have different heights */
}

.element {
  min-width: 3em;
  max-width: 3em;
}

.price-container {
  margin: 0.5em;
}

.product-name {
  padding-left: 3%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  text-align: center;
}

.add-button {
  border: none;
  display: flex;
  border-radius: 10px;
  height: 2em;
  justify-content: center; /* Center horizontally */
  align-items: center;
  background-color: goldenrod;

}


.image-gallery {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  white-space: nowrap; /* Garde tout sur une seule ligne */
  overflow-x: scroll; /* Active le défilement horizontal */
  max-width: 100%; /* Limite la largeur du conteneur */
  /* Marge interne pour un meilleur style */
}

.image-gallery img {
  /* Affiche chaque image en ligne */
  /* Limite chaque image à environ 25% de la largeur, en tenant compte de l'espacement */
  width: 100px;
  height: 100px; /* Fixe une largeur max pour limiter la taille des images */
  margin-right: 10px; /* Espace entre les images */
  border-radius: 8px; /* Ajoute des bords arrondis */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour l'esthétique */
}

@media only screen and (min-width: 600px) {
  .main-image {
    max-height: 750px;
    max-width: 750px;
  }

  :host {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
