<h2 class="product-name">{{ productName }}</h2>
<div class="image-container">
  <img class="main-image" src='{{mainImg}}'/>
</div>

<div class="pick-image">
  <button class="change-image" (click)="previousImage()" [disabled]="this.imagesIndex == 0"><img src="https://ecom-images-storage.s3.eu-north-1.amazonaws.com/left_arrow.png" ></button>
  <div class="image-gallery">
    <div *ngFor="let x of setImages; index as i">
      <img src={{x}} (click)="changeIndex(this.imagesIndex + i)"/>
    </div>
  </div>
  <button class="change-image" (click)="nextImage()" [disabled]="this.imagesIndex >= this.article.images.length - this.maxSize"><img src="https://ecom-images-storage.s3.eu-north-1.amazonaws.com/right_arrow.png" ></button>
</div>



<div class="description-container">
  <p><b>Description</b></p>
  <p [innerHTML]="article.description">
  </p>
</div>
<div class="row-container">
  <div class="row-container">
    <input class="element" #inputNumberOfElement type="number" value="1" maxlength="3" [min]="1" [step]="1"
           (input)="validateNumber($event)"/>
    <h4 class="price-container"> {{ price | number: '1.2-2' }} €</h4>
  </div>

  <button class="add-button" (click)="addArticleToCart()">
    Ajouter au Panier
  </button>

  <div id="toast-container" class="toast-container">
    <div class="toast" *ngFor="let toast of toasts">
      {{ toast }}
    </div>
  </div>

</div>







