<div class="product-card">

    <h2 class="product-name"><b>{{ productName }}</b></h2>
    <div class="image-container">
        <img class="main-image" src={{mainImg}} style="width: 128px; height: 128px;"/>
    </div> 

    <div class="image-gallery" >
        <img *ngFor="let x of allImages; index as i" src={{x}} (click)="changeIndex(i)"/>
    </div>
        
    
    <div class="description-container">
        <p>
            <b>Description:</b> {{ description }}
            
        </p>
    </div>
    <div class="row-container">
        <div class="row-container">
            <input class="element" #inputNumberOfElement type="number" value="0" maxlength="3"  [min]="0" [step]="1" (input)="validateNumber($event)" />
            <h4 class="price-container"> {{ price | number: '1.2-2'}} €</h4>
        </div>
        
        <button class="add-button" (click)="addArticleToCart(inputNumberOfElement)" > 
            Ajouter au Panier
        </button>
        
    </div>

    
    
     
</div>








