<div class="product-card">
  <!-- Titre principal -->
  <div class="product-header">
    <h1 class="product-name">Validate shipping</h1>
  </div>

  <!-- Moyens de paiement -->
  <div class="payment-method">
    <h2>Payment Methods:</h2>
    <img class="masterCardVisa" src="https://api.adnews.galitt.com/uploads/posts/images/6605906f801c8399626600.jpg"
         alt="MasterCard Visa">
  </div>

  <!-- Formulaire de paiement -->
  <div class="payment-details">
    <!-- Numéro de carte -->
    <div class="form-group">
      <label for="card-number">Card number</label>
      <input type="text" id="card-number" name="card-number" placeholder="XXXX XXXX XXXX XXXX" required maxlength="19"
             [(ngModel)]="cardNumber" (input)="formatCardNumber()" (ngModelChange)="cardNumberError = ''">
      <div *ngIf="cardNumberError" class="error-message">{{ cardNumberError }}</div>
    </div>


    <!-- Nom sur la carte -->
    <div class="form-group">
      <label for="cardholder-name">Last Name</label>
      <input type="text" id="cardholder-name" name="cardholder-name" placeholder="Last Name" required
             [(ngModel)]="cardholderName" (ngModelChange)="cardholderNameError = ''">
      <div *ngIf="cardholderNameError" class="error-message">{{ cardholderNameError }}</div>
    </div>

    <!-- Date d'expiration -->
    <div class="form-group">
      <label for="expiration-date">Expiration date (MM/AA)</label>
      <input type="text" id="expiration-date" name="expiration-date" placeholder="MM/AA" maxlength="5" required
             [(ngModel)]="expirationDate" (input)="formatExpirationDate()" (ngModelChange)="expirationDateError = ''">
      <div *ngIf="expirationDateError" class="error-message">{{ expirationDateError }}</div>
    </div>

    <!-- CVV -->
    <div class="form-group">
      <label for="cvv">Security Cryptogram</label>
      <input type="text" id="cvv" name="cvv" required minlength="3" maxlength="3" placeholder="CVV" size="5"
             [(ngModel)]="cvv" (ngModelChange)="cvvError = ''">
      <div *ngIf="cvvError" class="error-message">{{ cvvError }}</div>
    </div>

    <!-- Shipping Address -->
    <div class="form-group">
      <label for="shipping">Shipping address</label>
      <input type="text" id="shipping" name="shipping" required minlength="1" maxlength="100"
             placeholder="Shipping address"
             [(ngModel)]="shipping" (ngModelChange)="shippingError = ''">
      <div *ngIf="shipping" class="error-message">{{ shippingError }}</div>
    </div>

    <!-- Bouton de paiement -->
    <div class="submit-btn">
      <input type="button" value="Validate and Pay" (click)="onSubmit()">
    </div>
  </div>
</div>
