.history-item {
  display: flex;
  width: 100%;
  background-color: red;
  max-height: 30vw;
}

.title {
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  flex:1;
}
.listing {
  flex: 0.7; /* Permet à cet élément de prendre tout l'espace disponible */
  overflow-y: auto; /* Active le défilement vertical si le contenu dépasse */
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  max-height: 10vw;
}

.listing-item {
}

.total {
  bottom: 1;
  text-align: right;
  font-size: 2vh;

}
  
.history-image {
  width: 30vw;
  height: 30vw;
}
@media only screen and (min-width: 600px) {

  .name {
    font-size: 1.5em;
  }

}
  