* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.header{
  background-color: #E6E6E6;
  margin: none;
  margin-top: -10px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header-container {
  width: 100%; /* Couleur de fond du bandeau */
  white-space: nowrap; /* Empêche le passage à la ligne */
  display: flex;
}

/* Bouton menu à gauche */
.menu-button {
  float: left;
  margin: 5px;
  width: 35px;
  height: 35px;

  max-width: 40px;  /* Limite la taille du bouton compte */
  max-height: 40px;

  background-image: url("https://ecom-images-storage.s3.eu-north-1.amazonaws.com/menu_burger.png");
  background-size: cover;
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  left:auto;
  flex: 0 1 auto;
}

.menu-button:hover,
.cart-button:hover,
.account-button:hover {
  opacity: 0.5; /* Change l’opacité pour rendre l’image plus pâle */
}

/* Logo central */
.logo {
  float: left;
  height: 90%; /* Garde une taille réduite pour le logo */
  vertical-align: middle;
  margin-left: 10px; /* Espace entre le bouton menu et le logo */
  max-width: 300px;  /* Limite la taille du bouton compte */
  width: 85%;
  max-height: 50px;
}

/* Bouton panier, positionné à droite */
.cart-button {
  float: right;
  width: 35px;
  height: 35px;
  margin: 5px;
  vertical-align: middle;
  background-image: url("https://ecom-images-storage.s3.eu-north-1.amazonaws.com/panier.png");
  background-size: cover;
  background-position: center;
  background-color: #E6E6E6;
  border: none;
  cursor: pointer;
}

/* Bouton compte, positionné tout à droite */
.account-button {
  float: right;
  margin: 5px;
  width: 35px;
  height: 35px;
  background-image: url("https://ecom-images-storage.s3.eu-north-1.amazonaws.com/compte.png");
  background-size: cover;
  background-position: center;
  background-color: #E6E6E6;
  border: none;
  cursor: pointer;
}


/* Conteneur de chaque bouton avec texte */
.boutontext {
  float: right;
  text-align: center;
  width: 40px;
  margin: 5px;
  flex: 0 1 auto;
}

/* Pour le texte sous le bouton */
.boutontext p {
  margin-top: 40px;
  font-size: 6px;
  color: rgb(0, 0, 0); /* Couleur du texte (ajustable) */
}

/* Ajustement des boutons pour rester dans les dimensions définies */
.cart-button, .account-button {
  display: block;
  margin: 0 auto;
}


/* Conteneur de la barre de recherche */
.search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  margin-top: 10px;
  width: 96%;
}

/* Icône de loupe */
.search-icon {
  width: 4vw;
  height: 4vw;
  max-width: 25px;
  max-height: 25px;
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/loupe.png');
  background-size: cover;
  background-position: center;
}

/* Champ de recherche */
.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 4vw;
  background-color: transparent;
}

/* Bouton X */
.search-clear{
  width: 4vw;
  height: 4vw;
  max-width: 25px;
  max-height: 25px;
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/croix.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo-button {
  border: none;
  background-color: #E6E6E6;
  flex: 1;
}


/* Cercle rouge pour le nombre d'articles dans le panier */
.cart-badge {
  position: absolute; 
  top: 25px;
  right: 55px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 100%;
  padding: 2px 2px; 
  min-width: 20px; 
  text-align: center;
  line-height: 1;
  display: inline-block;
}
.search-button {
  background-color: #f9f9f9;
  border: none;
}

