* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


:host {
  --header-container-height: 60%;

  background-color: #E6E6E6;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.header-container {
  height: var(--header-container-height);
  width: 100%;
  /*background-color: #333; !* Couleur de fond du bandeau *!*/
  white-space: nowrap; /* Empêche le passage à la ligne */

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}

/* Bouton menu à gauche */
.menu-button {
  background-image: url("https://ecom-images-storage.s3.eu-north-1.amazonaws.com/menu_burger.png");
}

.menu-button:hover,
.cart-button:hover,
.account-button:hover {
  opacity: 0.5; /* Change l’opacité pour rendre l’image plus pâle */
}

/* Logo central */
.logo {
  float: center;
  height: 90%; /* Garde une taille réduite pour le logo */
  vertical-align: middle;
  margin: 0 auto;
  max-width: 60%;
  /*max-width: 250px; !* Limite la taille du bouton compte *!*/
  /*max-height: 50px;*/
}


/* Bouton compte, positionné tout à droite */
.account-button {
  background-image: url("https://ecom-images-storage.s3.eu-north-1.amazonaws.com/compte.png");
  background-size: cover;
  background-position: center;
  background-color: #E6E6E6;
  border: none;
  cursor: pointer;
}


/* Conteneur de chaque bouton avec texte */
.boutontext {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  text-align: center;
  width: 40px;
}

/* Pour le texte sous le bouton */
.boutontext p {
  margin-top: 2px;
  font-size: 10px;
  color: rgb(0, 0, 0); /* Couleur du texte (ajustable) */
  text-align: center;
  width: 100%;
}

/* Conteneur de la barre de recherche */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  margin: 0;
  height: calc(100% - var(--header-container-height));
  width: 100%;
}

/* Icône de loupe */
.search-icon {
  width: 4vw;
  height: 4vw;
  max-width: 25px;
  max-height: 25px;
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/loupe.png');
  background-size: cover;
  background-position: center;
}

/* Champ de recherche */
.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 4vw;
  background-color: transparent;
}

/* Bouton X */
.search-clear {
  width: 4vw;
  height: 4vw;
  max-width: 25px;
  max-height: 25px;
  background-image: url('https://ecom-images-storage.s3.eu-north-1.amazonaws.com/croix.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo-button {
  border: none;
  background-color: #E6E6E6;
  flex: 1;
}


/* Cercle rouge pour le nombre d'articles dans le panier */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 50%;
  padding: 5px;
  min-width: 20px;
  text-align: center;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  position: relative;
}

.header-btn {
  --size: 30px;
  height: var(--size);
  width: var(--size);

  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {

  .header-container {
    justify-content: space-between;
    align-items: center;
  }

  .search-bar-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }

  .search-icon, .search-clear {
    max-width: 40px;
    max-height: 40px;
  }

  .search-input {
    font-size: 2em;
    height: 45px;
  }

  .boutontext {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 60px;
  }

  .boutontext > p {
    font-size: 0.8em;
    text-align: center;
  }

  .cart-badge {
    height: 30px;
    width: 30px;
    font-size: 14px;
  }

  .header-container {
    gap: 10px;
  }

  .header-btn {
    --size: 50px;
  }
}
