<div class="header">
  <div class="header-container">
      <button class="menu-button"></button>
      <img src="https://ecom-images-storage.s3.eu-north-1.amazonaws.com/warhammer.png" alt="Logo Warhammer 40k" class="logo">
      
      <div class="boutontext">
          <button class="account-button" (click)="access_account()"></button>
          <p>Compte</p>
      </div>
      <div class="boutontext">
          <button class="cart-button"></button>
          <p>&nbsp;&nbsp;&nbsp;Panier</p>
      </div>
  </div>

  <div class="search-bar-container">
      <div class="search-icon"></div> <!-- Icône de loupe -->
      <input type="text" class="search-input" placeholder="Rechercher...">
      <button class="search-button"></button> <!-- Bouton "Go" avec image -->
  </div>
</div>
